/* public/css/styles.css */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(135deg, #000066, #0000ff);
    color: white;
    font-family: 'Arial', sans-serif;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.navbar {
    background-color: transparent;
    box-shadow: none;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-width='2' linecap='round' linejoin='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.nav-link {
    color: #fff !important;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #007bff !important;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.central-image {
    max-width: 400px;
    height: auto;
    margin-bottom: 20px;
    animation: fadeIn 2s;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
    animation: fadeInDown 1s;
}

p.lead {
    font-size: 1.2em;
    animation: fadeInUp 1.5s;
}

.btn {
    margin: 10px;
    transition: transform 0.3s, background-color 0.3s;
}

.btn:hover {
    transform: scale(1.1);
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
